

:root {
  --mainColor: #fff;
  --secondaryColor: #cd5926;
  --textColor: #000;
  --easeTransition: .5s ease all;
  --font: 'oswald';
  font-family: 'Oswald'
}


a {
  text-decoration: none;
  color: inherit;
}